body {
  background-color: lightslategray;
}

header {
  height: 100px;
  background-color: black;
  padding: 25px 50px;
}

.logo,
.main-nav {
  background-color: white;
  height: 100%;
  border-radius: 5px;
}

.logo {
  width: 100px;
  float: left;
}

.main-nav {
  width: 200px;
  float: right;
}

section {
  height: 300px;
  width: 600px;
  background-color: white;
  margin: 0 auto;
  margin-top: 225px;
  padding: 25px 50px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px darkgray;
}

.boxone,
.boxtwo {
  height: 50px;
  margin: 20px auto;
  background-color: gray;
}

.boxone {
  width: 500px;
}
.boxtwo {
  width: 400px;
}

.button-left,
.button-right {
  height: 30px;
  background-color: gray;
  width: 180px;
  border-radius: 25px;
}

.button-left {
  float: left;
  margin-left: 50px;
}

.button-right {
  float: right;
  margin-right: 50px;
}
